@charset "utf-8";



#Rec-tab .carousel-caption {
	left: 0;
	right: 0;
	bottom: 0;
	text-align: left;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	text-shadow: none;
	width: 700px;
}

#Rec-tab .list-group {
	position: absolute;
	top: 0;
	right: 0;

}

#Rec-tab .list-group-item {
	cursor: pointer;
	height: 81px;
	width: 350px;
	margin-left: 29px;
}

#Rec-tab .list-group .active {
	background-color: #eee;
}

h4 {
	display: inline;
	vertical-align: middle;
	margin-left: 17px;
}

li {
	text-align: justify;
}

.carousel-control {
	display: none;
}

.item .carousel-caption p {
	width: 610px;
	margin-left: 20px;
}
